<div class="container-fluid" id="searchBusiness">
  <div class="rest-categories inline">
    <div class="categories-m">
      <a class="active categories-text" href="#" data-ng-class="{'active': filterBusinessType == ''}" data-ng-click="selectBusinessType($event, '')"><img class="img-c" src="https://boxetekitchen.tryordering.com/templates/web/img/custom/allcategories.png" alt="All Category Boxete"> {{translate('MOBILE_MENU_LIST_ALL')}}</a>
    </div>
    <div class="categories-m">
      <a href="#" class="categories-text"  data-ng-class="{'active': filterBusinessType == 'food'}" data-ng-click="selectBusinessType($event, 'food')"><img class="img-c" src="https://boxetekitchen.tryordering.com/templates/web/img/custom/fastfood.png" alt="FAST FOOD Boxete">{{translate('BUSINESS_TYPE_FOOD')}}</a>
    </div>
    <div class="categories-m">
      <a href="#" class="categories-text" data-ng-class="{'active': filterBusinessType == 'alcohol'}" data-ng-click="selectBusinessType($event, 'alcohol')"><img class="img-c" src="https://boxetekitchen.tryordering.com/templates/web/img/custom/wing.png" alt="Chicken Boxete">{{translate('BUSINESS_TYPE_ALCOHOL')}}</a>
    </div>
    <div class="categories-m">
      <a href="#" class="categories-text" data-ng-class="{'active': filterBusinessType == 'groceries'}" data-ng-click="selectBusinessType($event, 'groceries')"><img class="img-c" src="https://boxetekitchen.tryordering.com/templates/web/img/custom/sushi.png" alt="Sushi Boxete">{{translate('BUSINESS_TYPE_GROCERIES')}}</a>
    </div>
    <div class="categories-m">
      <a href="#" class="categories-text" data-ng-class="{'active': filterBusinessType == 'laundry'}" data-ng-click="selectBusinessType($event, 'laundry')"><img class="img-c" src="https://boxetekitchen.tryordering.com/templates/web/img/custom/sandwiches.png" alt="Sandwiches Boxete">{{translate('BUSINESS_TYPE_LAUNDRY')}}</a>
    </div>
  </div>
  <div class="subtitle compress">
    <div class="right" data-ng-if="(ADDONS.pickup || ADDONS.eatin || ADDONS.curbside || ADDONS.driver_thru) && orderType">
      <select class="form-control order-type border-primary color-primary" data-ng-model="orderType" data-ng-change="changeOrdeType(orderType)">
        <option value="1" class="item" data-ng-selected="orderType == 1" data-ng-class="{'diselected': orderType != 1}">{{ translate('DELIVERY') }}</option>
        <option value="2" class="item" data-ng-selected="orderType == 2" data-ng-class="{'diselected': orderType != 2}" data-ng-if="ADDONS.pickup">{{ translate('PICKUP') }}</option>
        <option value="3" class="item" data-ng-selected="orderType == 3" data-ng-class="{'diselected': orderType != 3}" data-ng-if="ADDONS.eatin">{{ translate('EATIN') }}</option>
        <option value="4" class="item" data-ng-selected="orderType == 4" data-ng-class="{'diselected': orderType != 4}" data-ng-if="ADDONS.curbside">{{ translate('CURBSIDE') }}</option>
        <option value="5" class="item" data-ng-selected="orderType == 5" data-ng-class="{'diselected': orderType != 5}" data-ng-if="ADDONS.driver_thru">{{ translate('DRIVER_THRU') }}</option>
      </select>
      <!-- <div class="switcher">
        <input type="radio" name="order_type" value="1" id="delivery" class="switcher__input switcher__input--one" data-ng-model="orderType" data-ng-change="changeOrdeType(orderType)">
        <label for="delivery" class="switcher__label">{{ translate('DELIVERY') }}</label>
        <input type="radio" name="order_type" value="2" id="pickup" class="switcher__input switcher__input--two" data-ng-model="orderType" data-ng-change="changeOrdeType(orderType)">
        <label for="pickup" class="switcher__label">{{ translate('PICKUP') }}</label>
        <span class="switcher__toggle"></span>
      </div> -->
    </div>
    <div class="content">
      {{ businessFound }} {{ translate('MOBILE_FRONT_VISUALS_RESTAURANTS') }} {{ translate('MOBILE_FRONT_NEAR') }} <b>{{curAddress}}</b>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="subtitle">
    <!--<span data-ng-if="!BUSINESS_TYPES">{{ filteredBusiness.length }} {{ translate('MOBILE_FRONT_VISUALS_RESTAURANTS') }} {{ translate('MOBILE_FRONT_NEAR') }} {{curAddress}}</span>-->
    <!--<ul class="nav nav-tabs inline hidden-xs">
      <li>
        <a class="active" href="#" data-ng-class="{'active': filterBusinessType == ''}" data-ng-click="selectBusinessType($event, '')">{{translate('MOBILE_MENU_LIST_ALL')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'food'}" data-ng-click="selectBusinessType($event, 'food')">{{translate('BUSINESS_TYPE_FOOD')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'alcohol'}" data-ng-click="selectBusinessType($event, 'alcohol')">{{translate('BUSINESS_TYPE_ALCOHOL')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'groceries'}" data-ng-click="selectBusinessType($event, 'groceries')">{{translate('BUSINESS_TYPE_GROCERIES')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'laundry'}" data-ng-click="selectBusinessType($event, 'laundry')">{{translate('BUSINESS_TYPE_LAUNDRY')}}</a>
      </li>
    </ul>-->
    <div class="form-group filter col-sm-3 col-xs-6" select-content>
      <!-- <label>Filter by </label> -->
      <select class="form-control" data-ng-model="sortBy">
        <option value="" disabled="true" selected="true">{{ translate('SORT_BY') }}</option>
        <option value="distance*1">{{ translate('DISTANCE') }}</option>
        <option value="-reviews.total*1" data-ng-if="ADDONS.order_reviews">{{ translate('RATING') }}</option>
        <option value="-id*1">{{ translate('NEWEST') }}</option>
        <option value="name">{{ translate('A_TO_Z') }}</option>
        <option value="minimum*1">{{ translate('MINIMUM_ORDER') }}</option>
        <option value="delivery_time_min*1" data-ng-if="orderType==1">{{ translate('V3_ORDER_DELIVERY_TIME') }}</option>
        <option value="pickup_time_min*1" data-ng-if="orderType==2">{{ translate('PICKUP_TIME') }}</option>
        <!-- <option value="{{orderType==1?'-delivery_time_min*1':'-pickup_time_min*1'}}">{{ translate('V3_ORDER_DELIVERY_TIME') }}</option> -->
      </select>
    </div>
    <div class="form-group col-sm-3 col-xs-6">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" data-ng-model="_filterBusiness" data-ng-change="changeFilterBusiness()" placeholder="{{ translate('MOBILE_FRONT_VISUALS_SEARCH') }}">
      </div>
    </div>
    <ul class="nav nav-tabs inline visible-xs-block">
      <li>
        <a class="active" href="#" data-ng-class="{'active': filterBusinessType == ''}" data-ng-click="selectBusinessType($event, '')">{{translate('MOBILE_MENU_LIST_ALL')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'food'}" data-ng-click="selectBusinessType($event, 'food')">{{translate('BUSINESS_TYPE_FOOD')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'alcohol'}" data-ng-click="selectBusinessType($event, 'alcohol')">{{translate('BUSINESS_TYPE_ALCOHOL')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'groceries'}" data-ng-click="selectBusinessType($event, 'groceries')">{{translate('BUSINESS_TYPE_GROCERIES')}}</a>
      </li>
      <li>
        <a href="#" data-ng-class="{'active': filterBusinessType == 'laundry'}" data-ng-click="selectBusinessType($event, 'laundry')">{{translate('BUSINESS_TYPE_LAUNDRY')}}</a>
      </li>
    </ul>
    <div style="clear: both;"></div>
  </div>
  <div class="businesses">
    <div class="help-message" data-ng-if="filterBusiness && filteredBusiness != '' && (filteredBusiness | bfilter:filterBusiness).length == 0">
      {{ translate('NOT_BUSINESS_FOR') }} "<span>{{filterBusiness}}</span>"
    </div>
    <!-- BUSINESS OPEN FEATURED -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | bfilter:filterBusiness | orderBy:sortBy track by item.id" data-ng-click="onBusiness(item)" data-ng-if="item.open && item.featured && ADDONS.featured_business">
      <div class="thumbnail">
        <div data-ng-if="ADDONS.featured_business" class="cartel featured">{{ translate('BLIST_FEATURED') }}</div>
        <div data-ng-if="item.offers.length > 0 && ADDONS.show_discount" class="cartel-offers"><i class="fa fa-tags" aria-hidden="true"></i> {{ showOffer(item.offers)}} </div>
        <div class="header" ng-style="{'background-image': 'url('+optimizeImage(item.header, 'h_300,c_limit')+'), url('+dummyHeader+')'}"></div>
        <!--<div class="logo">
          <img data-ng-cache data-ng-src="{{optimizeImage(item.logo, 'h_300,c_limit')}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
          <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
        </div>-->
        <div class="caption">
          <p>
           <!-- <ul>
              <li>{{item.name}}</li>
              <li data-ng-repeat="lapse in item.today.lapses">{{ parseTime(lapse.open) }} - {{ parseTime(lapse.close) }}</li>
              <li><strong>{{ translate('MINIMUM_ORDER') }}:</strong> {{ parsePrice(item.minimum)}}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_V2') }}</strong> <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span><span data-ng-if="item.delivery_price == 0">{{ translate('FREE') }}</span></li>
              <li><strong>{{ tr0anslate('MOBILE_BUSINESS_LIST_PROMOTION') }}:</strong> {{ truncate(item.about, 100) }}</li>
              <li data-ng-if="item.distance != null && SEARCH_BY_ADDRESS"><strong>{{ translate('DISTANCE') }}:</strong> {{ parseDistance(item.distance) }}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_TIME') }}:</strong> {{ parseWaitTime(item.delivery_time) }}</li>
              <li data-ng-if="orderType == 2"><strong>{{ translate('PICKUP_TIME') }}:</strong> {{ parseWaitTime(item.pickup_time) }}</li>
            </ul>-->

            <ul>
              <li>{{item.name}}</li>
              <li><span data-ng-if="orderType == 1"></span> {{ parseWaitTime(item.delivery_time) }}min • <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span> delivery</li>
            </ul>
            <!--<div class="rating {{ item.id }}" data-ng-if="ADDONS.order_reviews">
              <div class="base">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="points" ng-style="{'width': getWidthRating(item.reviews.total, true, item.id) + 'px'}">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div> <span data-ng-if="ADDONS.order_reviews">({{item.reviews.total | number:DECIMAL.length | separator}} {{translate('MOBILE_MENU_LIST_RATINGS')}})</span>-->
          </p>
        </div>
      </div>
    </div>
    <div class="not_businesses" data-ng-if="show_change_address">
      {{ translate('NOT_BUSINESS_BY_ADDRESS') }}
      <br>
      <button class="btn btn-primary btn-sm" data-ng-click="openAddresses()">{{ translate('CHANGE_ADDRESS') }}</button>
    </div>
    <!-- BUSINESS OPEN -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | bfilter:filterBusiness | orderBy:sortBy track by item.id" data-ng-click="onBusiness(item)" data-ng-if="item.open && (!item.featured || !ADDONS.featured_business)">
      <div class="thumbnail">
        <div data-ng-if="item.offers.length > 0 && ADDONS.show_discount" class="cartel-offers"><i class="fa fa-tags" aria-hidden="true"></i> {{ showOffer(item.offers)}} </div>
        <div class="header" ng-style="{'background-image': 'url('+optimizeImage(item.header, 'h_300,c_limit')+'), url('+dummyHeader+')'}"></div>
        <!--<div class="logo">
          <img data-ng-cache data-ng-src="{{optimizeImage(item.logo, 'h_300,c_limit')}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
          <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
        </div>-->
        <div class="caption">
          <p>
           <!-- <ul>
              <li>{{item.name}}</li>
              <li data-ng-repeat="lapse in item.today.lapses">{{ parseTime(lapse.open) }} - {{ parseTime(lapse.close) }}</li>
              <li><strong>{{ translate('MINIMUM_ORDER') }}:</strong> {{ parsePrice(item.minimum)}}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_V2') }}</strong> <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span><span data-ng-if="item.delivery_price == 0">{{ translate('FREE') }}</span></li>
              <li><strong>{{ translate('MOBILE_BUSINESS_LIST_PROMOTION') }}:</strong> {{ truncate(item.about, 100) }}</li>
              <li data-ng-if="item.distance != null && SEARCH_BY_ADDRESS"><strong>{{ translate('DISTANCE') }}:</strong> {{ parseDistance(item.distance) }}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_TIME') }}:</strong> {{ parseWaitTime(item.delivery_time) }}</li>
              <li data-ng-if="orderType == 2"><strong>{{ translate('PICKUP_TIME') }}:</strong> {{ parseWaitTime(item.pickup_time) }}</li>
            </ul>-->

            <ul>
              <li>{{item.name}}</li>
              <li><span data-ng-if="orderType == 1"></span> {{ parseWaitTime(item.delivery_time) }}min • <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span> delivery</li>
            </ul>
            <!--<div class="rating {{ item.id }}" data-ng-if="ADDONS.order_reviews">
              <div class="base">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="points" ng-style="{'width': getWidthRating(item.reviews.total, true, item.id) + 'px'}">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div> <span data-ng-if="ADDONS.order_reviews">({{item.reviews.total | number:DECIMAL.length | separator}} {{translate('MOBILE_MENU_LIST_RATINGS')}})</span>-->
          </p>
        </div>
      </div>
    </div>
    <!-- BUSINESS CLOSED FEATURE -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | bfilter:filterBusiness | orderBy:sortBy track by item.id" data-ng-click="onBusiness(item)" data-ng-if="!item.open && item.featured && ADDONS.featured_business">
      <div class="thumbnail" data-ng-class="{'closed': !item.open}">
        <div data-ng-if="ADDONS.featured_business" class="cartel featured">{{ translate('BLIST_FEATURED') }}</div>
        <div class="cartel">{{ translate('BUSINESS_CLOSED') }}</div>
        <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ translate('PREORDER') }}</div>
        <div data-ng-if="item.offers.length > 0 && ADDONS.show_discount" class="cartel-offers"><i class="fa fa-tags" aria-hidden="true"></i> {{ showOffer(item.offers)}} </div>
        <div class="header" ng-style="{'background-image': 'url('+optimizeImage(item.header, 'h_300,c_limit')+'), url('+dummyHeader+')'}"></div>
        <!--<div class="logo">
          <img data-ng-cache data-ng-src="{{optimizeImage(item.logo, 'h_300,c_limit')}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
          <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
        </div>-->
        <div class="caption">
          <p>
            <!--<ul>
              <li>{{item.name}}</li>
              <li data-ng-if="!item.today.enabled"><i style="font-style: italic;"><strong>{{ translate('CLOSED_TODAY') }}</strong></i></li>
              <li data-ng-if="item.today.enabled" data-ng-repeat="lapse in item.today.lapses">{{ parseTime(lapse.open) }} - {{ parseTime(lapse.close) }}</li>
              <li><strong>{{ translate('MINIMUM_ORDER') }}:</strong> {{ parsePrice(item.minimum)}}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_V2') }}</strong> <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span><span data-ng-if="item.delivery_price == 0">{{ translate('FREE') }}</span></li>
              <li><strong>{{ translate('MOBILE_BUSINESS_LIST_PROMOTION') }}:</strong> {{ truncate(item.about, 100) }}</li>
              <li data-ng-if="item.distance != null && SEARCH_BY_ADDRESS"><strong>{{ translate('DISTANCE') }}:</strong> {{ parseDistance(item.distance) }}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_TIME') }}:</strong> {{ parseWaitTime(item.delivery_time) }}</li>
              <li data-ng-if="orderType == 2"><strong>{{ translate('PICKUP_TIME') }}:</strong> {{ parseWaitTime(item.pickup_time) }}</li>
            </ul>-->

            <ul>
              <li>{{item.name}}</li>
              <li><span data-ng-if="orderType == 1"></span> {{ parseWaitTime(item.delivery_time) }}min • <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span> delivery</li>
            </ul>
            <!--<div class="rating {{ item.id }}" data-ng-if="ADDONS.order_reviews">
              <div class="base">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="points" ng-style="{'width': getWidthRating(item.reviews.total, true, item.id) + 'px'}">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div> <span data-ng-if="ADDONS.order_reviews">({{item.reviews.total | number:DECIMAL.length | separator}} {{translate('MOBILE_MENU_LIST_RATINGS')}})</span>-->
          </p>
        </div>
      </div>
    </div>
    <!-- BUSINESS CLOSED -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | bfilter:filterBusiness | orderBy:sortBy track by item.id" data-ng-click="onBusiness(item)" data-ng-if="!item.open && (!item.featured || !ADDONS.featured_business)">
      <div class="thumbnail" data-ng-class="{'closed': !item.open}">
        <div class="cartel">{{ translate('BUSINESS_CLOSED') }}</div>
        <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ translate('PREORDER') }}</div>
        <div data-ng-if="item.offers.length > 0 && ADDONS.show_discount" class="cartel-offers"><i class="fa fa-tags" aria-hidden="true"></i> {{ showOffer(item.offers)}} </div>
        <div class="header" ng-style="{'background-image': 'url('+optimizeImage(item.header, 'h_300,c_limit')+'), url('+dummyHeader+')'}"></div>
        <!--<div class="logo">
          <img data-ng-cache data-ng-src="{{optimizeImage(item.logo, 'h_300,c_limit')}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
          <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
        </div>-->
        <div class="caption">
          <p>
            <!--<ul>
              <li>{{item.name}}</li>
              <li data-ng-if="!item.today.enabled"><i style="font-style: italic;"><strong>{{ translate('CLOSED_TODAY') }}</strong></i></li>
              <li data-ng-if="item.today.enabled" data-ng-repeat="lapse in item.today.lapses">{{ parseTime(lapse.open) }} - {{ parseTime(lapse.close) }}</li>
              <li><strong>{{ translate('MINIMUM_ORDER') }}:</strong> {{ parsePrice(item.minimum)}}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_V2') }}</strong> <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span><span data-ng-if="item.delivery_price == 0">{{ translate('FREE') }}</span></li>
              <li><strong>{{ translate('MOBILE_BUSINESS_LIST_PROMOTION') }}:</strong> {{ truncate(item.about, 100) }}</li>
              <li data-ng-if="item.distance != null && SEARCH_BY_ADDRESS"><strong>{{ translate('DISTANCE') }}:</strong> {{ parseDistance(item.distance) }}</li>
              <li data-ng-if="orderType == 1"><strong>{{ translate('DELIVERY_TIME') }}:</strong> {{ parseWaitTime(item.delivery_time) }}</li>
              <li data-ng-if="orderType == 2"><strong>{{ translate('PICKUP_TIME') }}:</strong> {{ parseWaitTime(item.pickup_time) }}</li>
            </ul>-->
            <ul>
              <li>{{item.name}}</li>
              <li><span data-ng-if="orderType == 1"></span> {{ parseWaitTime(item.delivery_time) }}min • <span data-ng-if="item.delivery_price != 0">{{ parsePrice(item.delivery_price) }}</span> delivery</li>
            </ul>
            <!--<div class="rating {{ item.id }}" data-ng-if="ADDONS.order_reviews">
              <div class="base">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="points" ng-style="{'width': getWidthRating(item.reviews.total, true, item.id) + 'px'}">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div> <span data-ng-if="ADDONS.order_reviews">({{item.reviews.total | number:DECIMAL.length | separator}} {{translate('MOBILE_MENU_LIST_RATINGS')}})</span>-->
          </p>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="help-message" data-ng-if="loading_more">
      {{ translate('LOADING_MORE') }}
    </div>
  </div>
 
</div>