  <div class="container-fluid bg-gray">
    <div class="form-vertical col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <h3>{{ translate('MOBILE_FRONT_VISUALS_FORGOT_PASSWORD') }}</h3>
      <form>
      <div class="form-group" data-ng-if="NEW_FEATURES.ENABLE_MULTIPROJECT && NEW_FEATURES.ONLY_EDITOR">
        <label for="project">{{ translate('WEBAPP_NAME') }}</label>
        <input type="text" class="form-control" id="project" placeholder="{{ translate('WEBAPP_NAME') }}" data-ng-model="forgot.project" data-ng-change="forgot.project=forgot.project.toLowerCase()">
      </div>  
      <div class="form-group">
        <label for="email">{{ translate('MOBILE_FRONT_EMAIL') }}</label>
        <input type="email" class="form-control" id="email" placeholder="{{ translate('MOBILE_FRONT_EMAIL') }}" data-ng-model="forgot.email" data-ng-change="forgot.email=forgot.email.toLowerCase()">
      </div>
      <div class="form-group">
        <button data-ng-click="recoverPassword()" class="btn btn-primary btn-block">
          {{ translate('FRONT_RECOVER_PASSWORD') }}
        </button>
      </div>
      </form>
    </div>
  </div>