  <div class="container-fluid full">
    <div class="col-md-12 full checkout-header no-print">
      <h1>
        {{ translate('CONFIRMATION_BANNER_HEADING') }}<br>
        <small>{{ translate('CONFIRMATION_BANNER_DESCRIPTION') }}</small>
      </h1>
      <div class="buttons">
        <button class="btn btn-primary" data-ng-click="onGoMyProfile(1)">
          {{ translate('MY_ORDERS') }}
        </button>
        <button class="btn btn-primary" data-ng-click="print()" data-ng-if="create_order">
          {{ translate('PRINT') }}
        </button>
        <button class="btn btn-gray" data-ng-click="newCreateOrder()" data-ng-if="create_order">
          {{ translate('MOBILE_NEW_ORDER') }}
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <div style="display: flex ;justify-content: space-between;" data-ng-if="order.delivery_type == 4">
        <div>
          
        </div>
        <div class="curbside" style="display: flex;">
          <div class="text">
            {{translate('IM_ON_SPOT_NUMBER').replace('_site_', '').trim()}}
          </div>
          <div >
              <form class="message ng-pristine ng-valid" ng-submit="sendCurbside(curbside_site)">
              <input type="text"  name="curbside" ng-model="curbside_site" class="ng-pristine ng-untouched ng-valid">
              <div class="icon" ng-click="sendCurbside(curbside_site)">
                  <i class="fa fa-send"></i>
              </div>
            </form>
          </div>
        </div>
        
      </div>
<!--  -->    

<div class="checkout" data-ng-repeat="order in orderConfirmData">
  <div class="header">
    <h2>
      <small>{{ translate('EXPORT_ORDER_NUMBER') }}</small><br>
      #{{order.id}}
    </h2>
  </div>
  <div class="content" >
    <table style="table-layout:fixed">
      <tbody class="information hidden-xs">
        <tr class="title">
          <td>{{translate('CONFIRMATION_FROM')}}</td>
          <td>{{translate('CONFIRMATION_TO')}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type!=1">
          <td>{{order.customer.name}} {{order.customer.middle_name}} {{order.customer.lastname}} {{order.customer.second_lastname}}</td>
          <td>{{order.business.name}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type==1">
          <td>{{order.business.name}}</td>
          <td>{{order.customer.name}} {{order.customer.middle_name}} {{order.customer.lastname}} {{order.customer.second_lastname}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type!=1">
          <td>
            {{order.customer.address}}
            <span style="color: inherit;" data-ng-if="order.customer.internal_number">
              <br>
              {{order.customer.internal_number}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.address_notes">
              <br>
              {{order.customer.address_notes}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.dropdown_option">
              <br>
              {{order.customer.dropdown_option.name}}, {{order.customer.dropdown_option.city.name}}
            </span>
          </td>
          <td>{{order.business.address}} <a type="button" data-ng-click="goBusinessMap(order.business)">{{ translate('VIEW_ON_MAP') }}</a></td>
        </tr>
        <tr data-ng-if="order.delivery_type==1">
          <td>{{order.business.address}}</td>
          <td>
            {{order.customer.address}}
            <span style="color: inherit;" data-ng-if="order.customer.internal_number">
              <br>
              {{order.customer.internal_number}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.address_notes">
              <br>
              {{order.customer.address_notes}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.dropdown_option">
              <br>
              {{order.customer.dropdown_option.name}}, {{order.customer.dropdown_option.city.name}}
            </span>
          </td>
        </tr>
        <tr data-ng-if="order.delivery_type!=1">
          <td>{{order.customer.zipcode}}</td>
          <td>{{order.business.zipcode}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type==1">
          <td>{{order.business.zipcode}}</td>
          <td>{{order.customer.zipcode}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type!=1">
          <td>{{order.customer.cellphone}}</td>
          <td>{{order.business.phone}}<span class="omit" data-ng-id="order.business.phone && order.business.cellphone"> - </span>{{order.business.cellphone}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type==1">
          <td>{{order.business.phone}}<span class="omit" data-ng-id="order.business.phone && order.business.cellphone"> - </span>{{order.business.cellphone}}</td>
          <td>{{order.customer.cellphone}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type!=1">
          <td>{{order.customer.email}}</td>
          <td>{{order.business.email}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type==1">
          <td>{{order.business.email}}</td>
          <td>{{order.customer.email}}</td>
        </tr>
      </tbody>
    </table>
    <table style="table-layout:fixed">
      <tbody class="information hidden-sm hidden-md hidden-lg" data-ng-if="order.delivery_type!=1">
        <tr>
          <td class="to"><strong>{{translate('CONFIRMATION_TO')}}</strong></td>
        </tr>
        <tr>
          <td>{{order.customer.name}} {{order.customer.lastname}}</td>
        </tr>
        <tr>
          <td>
            {{order.customer.address}}
            <span style="color: inherit;" data-ng-if="order.customer.internal_number">
              <br>
              {{order.customer.internal_number}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.address_notes">
              <br>
              {{order.customer.address_notes}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.dropdown_option">
              <br>
              {{order.customer.dropdown_option.name}}, {{order.customer.dropdown_option.city.name}}
            </span>
          </td>
        </tr>
        <tr>
          <td>{{order.customer.zipcode}}</td>
        </tr>
        <tr>
          <td>{{order.customer.cellphone}}</td>
        </tr>
        <tr>
          <td>{{order.customer.email}}</td>
        </tr>
        <tr>
          <td class="to"><strong>{{translate('CONFIRMATION_FROM')}}</strong></td>
        </tr>
        <tr>
          <td>{{order.business.name}}</td>
        </tr>
        <tr>
          <td>{{order.business.address}} <a type="button" data-ng-click="goBusinessMap(order.business)">{{ translate('VIEW_ON_MAP') }}</button></td>
        </tr>
        <tr>
          <td>{{order.business.zipcode}}</td>
        </tr>
        <tr>
          <td>{{order.business.phone}}<span class="omit" data-ng-id="order.business.phone && order.business.cellphone"> - </span>{{order.business.cellphone}}</td>
        </tr>
        <tr>
          <td>{{order.business.email}}</td>
        </tr>
      </tbody>
      <tbody class="information hidden-sm hidden-md hidden-lg" data-ng-if="order.delivery_type==1">
        <tr>
          <td class="to"><strong>{{translate('CONFIRMATION_FROM')}}</strong></td>
        </tr>
        <tr>
          <td>{{order.business.name}}</td>
        </tr>
        <tr>
          <td>{{order.business.address}}</td>
        </tr>
        <tr>
          <td>{{order.business.zipcode}}</td>
        </tr>
        <tr>
          <td>{{order.business.phone}}<span class="omit" data-ng-id="order.business.phone && order.business.cellphone"> - </span>{{order.business.cellphone}}</td>
        </tr>
        <tr>
          <td>{{order.business.email}}</td>
        </tr>
        <tr>
          <td class="to"><strong>{{translate('CONFIRMATION_TO')}}</strong></td>
        </tr>
        <tr>
          <td>{{order.customer.name}} {{order.customer.lastname}}</td>
        </tr>
        <tr>
          <td>
            {{order.customer.address}}
            <span style="color: inherit;" data-ng-if="order.customer.internal_number">
              <br>
              {{order.customer.internal_number}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.address_notes">
              <br>
              {{order.customer.address_notes}}
            </span>
            <span style="color: inherit;" data-ng-if="order.customer.dropdown_option">
              <br>
              {{order.customer.dropdown_option.name}}, {{order.customer.dropdown_option.city.name}}
            </span>
          </td>
        </tr>
        <tr>
          <td>{{order.customer.zipcode}}</td>
        </tr>
        <tr>
          <td>{{order.customer.cellphone}}</td>
        </tr>
        <tr>
          <td>{{order.customer.email}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody class="price">
        <tr class="title">
          <td colspan="2">{{translate('MOBILE_FRONT_YOUR_ORDER')}}</td>
        </tr>
        <tr data-ng-repeat="product in order.products">
          <td>
            <span>{{product.quantity}}</span> <i class="fa fa-times"></i> {{product.name}}<br>
            <p style="padding-left: 20px;">
              <span class="omit" data-ng-if="product.ingredients.length > 0">
                <strong>{{ translate('Ingredients_V2') }}</strong><br>
                <span class="omit" data-ng-repeat="ingredient in product.ingredients">
                  {{ translate('NO') }} {{ingredient.name}}<br>
                </span>
              </span>
              <span class="omit" data-ng-repeat="option in product.options">
                <strong>{{option.name}}</strong><br>
                <span class="omit" data-ng-repeat="suboption in option.suboptions">
                  <span class="omit" data-ng-if="option.allow_suboption_quantity">{{ suboption.quantity }}&nbsp;&nbsp;x&nbsp;&nbsp;</span>
                  {{suboption.name}}<span class="omit" data-ng-if="option.with_half_option && suboption.position != 'whole'"> ({{ translate(suboption.position.toUpperCase())}})</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="omit" data-ng-if="Order.getSuboptionTotal(option, suboption) > 0">{{ parsePrice(Order.getSuboptionTotal(option, suboption)) }}</span><br>
                </span>
              </span>
              <span class="omit" style="display: block; max-width: 200px;" data-ng-if="product.comment">
                <strong>{{translate('COMMENTS')}}</strong><br>
                {{product.comment}}
              </span>
            </p>
          </td>
          <td>{{parsePrice(Order.getProductsTotal(product))}}</td>
        </tr>
      </tbody>
      <tbody class="price">
        <tr>
          <td>{{ translate('MOBILE_FRONT_SUB_TOTAL') }}</td>
          <td>{{ parsePrice(Order.getSubtotal(order) + ((constants.fix_order_summary && order.tax_type == 1) ? Order.getTax(order) : 0))}}</td>
        </tr>
        <tr data-ng-if="(ADDONS.discount_code || ADDONS.discount_offer) && Order.getDiscount(order) > 0">
            <td>{{ translate('APP_DISCOUNT') }} <span class="omit" data-ng-if="order.offer_type == 1">({{order.offer_rate}}%)</span><!-- (<span class="omit" data-ng-if="curBusiness.discounttype == 2">-{{currency}}</span>{{curBusiness.discountrate}}<span class="omit" data-ng-if="curBusiness.discounttype == 1">%</span>)--></td>
            <td>-{{parsePrice(Order.getDiscount(order))}}</td>
          </tr>
        <tr data-ng-if="order.tax_type == 2">
          <td>{{ translate('Tax_V2') }} ({{order.tax}}%)</td>
          <td>{{ parsePrice(Order.getTax(order))}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type == 1">
          <td>{{ translate('MOBILE_CHECKOUT_DELIVERY_FEE') }}</td>
          <td>{{ parsePrice(order.custom_delivery_price)}}</td>
        </tr>
        <tr data-ng-if="order.delivery_type == 1" ng-show="order.driver_tip != 0">
          <td>{{ translate('MOBILE_FRONT_DRIVER_TIP') }} ({{order.driver_tip}}%)</td>
          <td>{{parsePrice(order.custom_trip)}}</td>
        </tr>
        <tr data-ng-if="order.service_fee != 0">
          <td>{{ translate('SERVICE_FEE_V2') }} ({{ order.service_fee}}%)</td>
          <td>{{parsePrice(Order.getServiceFee(order))}}</td>
        </tr>
      </tbody>
      <tbody class="price">
        <tr class="title">
          <td>{{ translate('MOBILE_CHECKOUT_TOTAL') }}</td>
          <td>{{parsePrice(Order.getTotal(order))}}</td>
        </tr>
      </tbody>
      <tbody class="footer">
        <tr>
          <td colspan="2">
            {{translate('CONFIRMATION_PAYMENT_METHOD')}}: {{ translate(order.paymethod.gateway.toUpperCase()) }}<br>
            {{translate('CONFIRMATION_DELIVERY_METHOD')}}: {{ translate(order.delivery_type==1?'DELIVERY':'PICKUP') }}
          </td>
        </tr>
      </tbody>
    </table>
    <center id="addthis_icons">
      <!--<div class="addthis_inline_share_toolbox"></div>-->
      <sn-addthis-toolbox class="addthis_inline_share_toolbox">
      </sn-addthis-toolbox>
    <!-- </div> -->
    </center>
  </div>
</div>    
<!--  -->       
<table style="width: 100%; background: #f9f9f9;"> 
  <tr>
     <td></td>
     <td >
       {{ translate('GRAND_TOTAL') }}
     </td>
     <td>
     </td>
     <td align="right">{{parsePrice(allTotal_r)}}</td>
   </tr>
   <tr>
     <td></td>
     <td>
       {{ translate('DELIVERY_TOTAL') }}
     </td>
     <td>
     </td>
     <td align="right">{{parsePrice( sumDelv_r )}}</td>
   </tr>
   </table>  

    </div>
  </div>
