<ion-modal-view class="popup">
  <i class="fa fa-times close" data-ng-click="hide()"></i>
  <ion-content class="order-cont popup-mode" overflow-scroll="true">
    <ion-item class="item-divider title" data-ng-class="{cssArabicRight: $root.arabic_rtl}">
      {{translate('PAY_WITH_CARD')}}
    </ion-item>
    <div class="form form-popup">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="col-xs-12">
              <input type="number" class="form-control" data-ng-model="card.number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="{{translate('PAYMENT_BRAINTREE_ON_ENTER_CREDIT_CARD')}}">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="{{translate('MOBILE_CVC_CARD')}}" data-ng-model="card.cvc" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="{{translate('MOBILE_ZIP_POSTAL_CODE')}}" data-ng-model="card.zip" value="{{card.zip}}">
            </div>
            <div class="col-xs-6">
              <select class="form-control" data-ng-model="card.month">
                <option data-ng-repeat="mm in months" value="{{mm.value}}" data-ng-selected="{{mm.name == card.month || mm.name == 'MM'}}">
                  {{mm.name}}
                </option>
              </select>
            </div>
            <div class="col-xs-6">
              <select class="form-control" data-ng-model="card.year" data-ng-selected="year">
                <option data-ng-repeat="yy in years" value="{{yy.value}}" data-ng-selected="{{yy.name == card.year || yy.name == 'year'}}">
                  {{yy.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-primary col-xs-6 col-xs-offset-3" data-ng-if="!card.number || !card.month || !card.year || !card.cvc || !card.zip">
      {{translate('MOBILE_FILL_REQUIRED_FIELDS')}}
    </button>
    <button class="btn btn-primary col-xs-6 col-xs-offset-3" data-ng-click="ok()" data-ng-if="card.number && card.month && card.year && card.cvc && card.zip">{{translate('OK')}}</button>
    </ion-content>
</ion-modal-view>
