  <div class="container-fluid bg-gray">
    <div class="form-vertical col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <h3>{{ translate('MOBILE_RESET_PASSWORD') }}</h3>
      <form>
      <div class="form-group">
        <label for="password">{{ translate('CHANGE_PASSWORD_NEW') }}</label>
        <input type="password" class="form-control" id="password" placeholder="{{ translate('CHANGE_PASSWORD_NEW') }}" data-ng-model="reset.password">
      </div>
      <div class="form-group">
        <label for="new-password">{{ translate('CHANGE_PASSWORD_CONFIRM') }}</label>
        <input type="password" class="form-control" id="new-password" placeholder="{{ translate('CHANGE_PASSWORD_CONFIRM') }}" data-ng-model="reset.confirm">
      </div>
      <div class="form-group">
        <button data-ng-click="resetPassword()" class="btn btn-primary btn-block">
          {{ translate('CHANGE_PASSWORD') }}
        </button>
      </div>
      </form>
    </div>
  </div>