<ion-popover-view class="share_social">
    <ion-content>
        <div id="addthis_icons">
            <sn-addthis-toolbox class="addthis_custom_sharing">
                <a href class="addthis_button_facebook">Facebook</a>
                <a href class="addthis_button_twitter">Twitter</a>
                <a href class="addthis_button_email">Email</a>
                <a href class="addthis_button_whatsapp">WhatsApp</a>
                <a href class="addthis_button_compact">More</a>
            </sn-addthis-toolbox>
        </div>
    </ion-content>
</ion-popover-view>