<div data-ng-controller="improvementEditorCtrl" class="forms-apps">
    <div class="forms-title">
        {{translate('IMPROVEMENT_REQUEST')}}
    </div>
    <div class="forms-general">
       <p class="forms-subtitle">{{translate('IMPROVEMENT_REQUEST_DESC')}}</p>
       <div>
            <!--<md-card class="no-margin-h">-->
            <div data-canny style="padding: 15px 20px;"></div>
            <!-- <script>
                Canny('render', {
                    boardToken: '0856eb5b-d4cf-9132-5520-98f2f466c555',
                    basePath: null, // See step 2
                    ssoToken: null, // See step 3
                });
            </script> -->
            <!--</md-card>-->
       </div>
</div>