<div class="forms-apps">
    <div class="forms-title">
        {{translate('CREATE_TICKET_REQUEST')}}
    </div>
    <div class="forms-general">
        <p class="forms-subtitle">{{translate('TICKET_TIME_RESPOND')}}</p>
       <p class="forms-subtitle">{{translate('CREATE_TICKET_REQUEST_DESC')}}</p>
       <div>
            <!--[if lte IE 8]>
            <script charset=“utf-8” type=“text/javascript” src=“//js.hsforms.net/forms/v2-legacy.js”></script>
            <![endif]-->
            <script>
            hbspt.forms.create({
                portalId: "6130635",
                formId: "e403b02e-f23d-4462-bc89-f0835e6bdbf8"
            });
            </script>
       </div>
</div>