<div class="forms-apps" data-ng-controller="tutorialSupportEditorCtrl">
    <div class="forms-title">
        {{translate('SUPPORT_TUTORIALS')}}
    </div>
    <div class="col-sm-12 col-lg-12 tutorial-title">
        {{translate('BUSINESSES_SETTINGS')}}
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(0,'CREATE_STORE')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('CREATE_STORE') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('CREATESTORE_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(1, 'ADD_PRODUCT')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('ADD_PRODUCT') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('ADD_PRODUCT_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(2, 'CREATE_PRODUCT_OPTION')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('CREATE_PRODUCT_OPTION') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('CREATE_PRODUCT_OPTION_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(3, 'BUSINESS_SCHEDULE')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('BUSINESS_SCHEDULE') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('BUSINESS_SCHEDULE_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(4, 'BUSINESS_MENU')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('BUSINESS_MENU') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('BUSINESS_MENU_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(5, 'DELIVERY_ZONE')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('DELIVERY_ZONE') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('DELIVERY_ZONE_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(6, 'PAYMENT_METHOD')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('PAYMENT_METHOD') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('PAYMENT_METHOD_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-12 tutorial-title">
        {{translate('ORDERS_MANAGER')}}
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(7, 'MY_ORDERS')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('MY_ORDERS') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('MY_ORDERS_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(8, 'DELIVERY_DASHBOARD')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('DELIVERY_DASHBOARD') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('DELIVERY_DASHBOARD_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-12 tutorial-title">
        {{translate('EDITOR_SETTINGS')}}
    </div>
    <div class="col-sm-6 col-lg-4" >
      <div class="panel panel-default" data-ng-click="showTutorialVideo(9, 'CHECKOUT_FIELDS')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('CHECKOUT_FIELDS') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('TUTORIALS_CHECKOUT_FIELDS_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(10, 'LANGUAGE_SETTINGS')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('LANGUAGE_SETTINGS') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('TUTORIAL_LANGUAGE_SETTINGS_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(11, 'EMAILS_SETTINGS')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('EMAILS_SETTINGS') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('EMAILS_SETTINGS_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="panel panel-default" data-ng-click="showTutorialVideo(12, 'DRIVER_ASSIGMENT_SETTINGS')">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('DRIVER_ASSIGMENT_SETTINGS') }}</h3>
        </div>
        <div class="panel-body">
          {{ translate('TUTORIAL_DRIVER_ASSIGMENT_SETTINGS_DESC') }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="panel panel-default" data-ng-click="showTutorialVideo(13, 'LANGUAGE_MANAGER')">
            <div class="panel-heading">
                <h3 class="panel-title">{{ translate('LANGUAGE_MANAGER') }}</h3>
            </div>
            <div class="panel-body">
                    {{ translate('LANGUAGE_MANAGER_DESC') }}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="panel panel-default" data-ng-click="showTutorialVideo(14, 'REVIEWS_MANAGER')">
            <div class="panel-heading">
                <h3 class="panel-title">{{ translate('REVIEWS_MANAGER') }}</h3>
            </div>
            <div class="panel-body">
                    {{ translate('REVIEWS_MANAGER_DESC') }}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="panel panel-default" data-ng-click="showTutorialVideo(15, 'BUSINESS_INVOICE')">
            <div class="panel-heading">
                <h3 class="panel-title">{{ translate('BUSINESS_INVOICE') }}</h3>
            </div>
            <div class="panel-body">
                    {{ translate('TUTORIAL_BUSINESS_INVOICE_DESC') }}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="panel panel-default" data-ng-click="showTutorialVideo(16, 'DRIVER_INVOICE')">
            <div class="panel-heading">
                <h3 class="panel-title">{{ translate('DRIVER_INVOICE') }}</h3>
            </div>
            <div class="panel-body">
                    {{ translate('TUTORIAL_DRIVER_INVOICE_DESC') }}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="panel panel-default" data-ng-click="showTutorialVideo(17, 'STATIC_PAGES_MANAGER')">
            <div class="panel-heading">
                <h3 class="panel-title">{{ translate('STATIC_PAGES_MANAGER') }}</h3>
            </div>
            <div class="panel-body">
                    {{ translate('STATIC_PAGES_MANAGER_DESC') }}
            </div>
        </div>
    </div>
  </div>