</ion-modal-view class="center">
<ion-modal-view class="popup">
    <!--<i class="fa fa-times close" data-ng-click="hideIntegration()"></i>-->
    <ion-content class="color-bg popup-mode" delegate-handle="modalContent">
        <div class="center">
            <h3>{{translate('CONFIRM_PASSWORD')}}</h3>
            <p>{{translate('INSERT_PASSWORD_CONFIRM')}}</p>
            <input data-ng-model="password" type="password" class="editable" placeholder="password"> <br> <br> 
            <a class="btn btn-primary" data-ng-click="checkPassword(password)">{{translate('DELETE_BUTTON')}}</a>
        </div>
    </ion-content>
</ion-modal-view>
