<ion-modal-view class="popup">
  <i class="fa fa-times close" data-ng-click="hideOfferSetting()"></i>
  <ion-content class="color-bg popup-mode" delegate-handle="modalContent" overflow-scroll="true">
    <ion-item class="item-divider title" data-ng-class="{cssArabicRight: $root.arabic_rtl}">
      <span class="divider-padding no-padding-h">{{ translate('OFFER_SETTINGS') }}</span>
    </ion-item>
    <br>
    <div class="form editable">
      <div class="group">
        <label>{{ translate('OFFER_TEXT') }}</label>
        <input data-ng-model="curOffer.discounttext" class="editable" type="text" data-ng-change="updateOffer(curOffer)">
      </div>
      <div class="group">
        <div class="w50">
          <label>{{ translate('DISCOUNT_TYPE') }}</label>
          <select class="editable" data-ng-model="curOffer.discountype" style="width: 100%;" data-ng-change="updateOffer(curOffer)">
            <option value="1">{{ translate('PERCENTAGE') }}</option>
            <option value="2">{{ translate('PRICE') }}</option>
          </select>
        </div><!--
        --><div class="w50">
          <label>{{ translate('VALUE') }}</label>
          <input data-ng-model="curOffer.rate" format="number" class="editable" type="text" data-ng-change="updateOffer(curOffer)" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 13 || event.key === "Backspace")'>
        </div>
      </div>
      <div class="group">
        <div class="w50">
          <label>{{ translate('MINIMUN_PURCHASED') }}</label>
          <input data-ng-model="curOffer.minshop" format="number" class="editable" type="text" data-ng-change="updateOffer(curOffer)" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 13 || event.key === "Backspace")'>
        </div><!--
        --><div class="w50">
          <label>{{ translate('VALID_UPTO') }}</label>
          <input data-ng-model="curOffer.validdays" class="editable" type="text" data-ng-change="updateOffer(curOffer)" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 13 || event.key === "Backspace")'>
        </div>
      </div>
      <div class="group">
        <label>{{ translate('BUSINESS') }}</label>
        <ul>
          <li data-ng-repeat="cdeal in business" data-ng-if="cdeal.provider == curUser.id || curUser.level == 0">
            <!-- <ion-checkbox class="checkbox-item xs" style="border-left: none; border-right: none" data-ng-model="selectedBusiness[cdeal.id]" data-ng-change="updateOffer(curOffer)">{{cdeal.name}}
            </ion-checkbox> -->
            <ion-radio class="radio-item xs" ng-model="curOffer.business" ng-value="cdeal.id" ng-change="updateOffer(curOffer)">
              <span class="float-left dynamic-radio"></span>
              <p class="float-left">{{cdeal.name}}</p>
            </ion-radio>
          </li>
        </ul>
      </div>
      <ion-item class="item-divider title" data-ng-if="ADDONS.metafields_editor" data-ng-class="{cssArabicRight: $root.arabic_rtl}">
        <span class="divider-padding no-padding-h">{{ translate('CUSTOM_FIELDS') }}</span>
      </ion-item>
      <div class="form editable" data-ng-if="ADDONS.metafields_editor">
        <div class="custom_files" data-ng-repeat="item in curOffer.metafields track by $index">
            <div class="c_field">
                <div class="col-xs-3">
                        <input type="text" class="editable txt_bold" data-ng-model="item.value_type" placeholder="Key" disabled>
                </div>
                <div class="col-xs-3">
                    <div class="input">
                        <form>
                            <input type="text" class="editable" data-ng-model="item.key" placeholder="Key" disabled>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input has_action">
                        <form>
                            <ng-container data-ng-if="isBoolVal(item.value_type)">
                                <input type="text" class="editable" value="{{item.value == 0 ? 'false' : 'true'}}" placeholder="Key" disabled>
                            </ng-container>
                            <ng-container data-ng-if="!isBoolVal(item.value_type)">
                                <div class="txt_wrapper">{{ item.value }}</div>
                            </ng-container>
                            <button data-ng-if="model == 'Offer'" class="editable" data-ng-click="removeOfferCustom(item, 'Offer')"><i class="fa fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="custom_files">
            <div class="c_field">
                <div class="col-xs-3">
                    <select class="editable" data-ng-model="newField.value_type" data-ng-change="onChangeType()" ng-options="type as type for type in valueTypes">
                    </select>
                </div>
                <div class="col-xs-3">
                    <div class="input">
                        <form>
                            <input type="text" class="editable" data-ng-model="newField.key" placeholder="Key">
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input has_action">
                        <ng-container data-ng-if="isBoolVal(newField.value_type)">
                            <select class="editable" data-ng-model="newField.value">
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </ng-container>
                        <ng-container data-ng-if="!isBoolVal(newField.value_type)">
                            <input type="text" data-ng-change="isValid(newField.value)" class="editable" data-ng-if="!isJsonVal(newField.value_type)" data-ng-model="newField.value" ng-pattern="value_regx" placeholder="Value" value={{tmpVal}}>
                            <textarea data-ng-model="newField.value" rows="5" data-ng-if="isJsonVal(newField.value_type)"></textarea>
                            <!-- <div contenteditable="true" data-ng-if="isJsonVal(newField.value_type)">{{newField.value  | json : spacing}}</div> -->
                        </ng-container>
                        <button data-ng-if="model == 'Offer'" class="editable" data-ng-click="addOfferCustom('Offer', curOffer)"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--<div>
        <label>Tax percentage</label>
        <input data-ng-model="deal.taxpercnt" class="editable" type="text" data-ng-change="changeTax()">
      </div> -->
      <div data-ng-if="curOffer.id == -1">
        <br>
        <center>
            <button class="btn btn-primary" data-ng-click="addOffer(curOffer)">{{ translate('ADD').toUpperCase() }}</button>
        </center>
      </div>
    </div>
  </ion-content>
</ion-modal-view>